.closeBtn{
    color:white;
    margin-left: 5px;
    cursor:pointer;
}
.exitBtn , .exitBtn:hover{
    
    background-color: red;
    box-shadow: 0 0 1px #a81212, 0 0 4px#a81212, 0 0 70px#a81212 ;
}
.topBar{
    text-align: right;
}
.backgroundcolor-primary , .backgroundcolor-primary:hover{
    background-color: #ff2483;;
    box-shadow: 0 0 1px #ff2483, 0 0 2px#ff2483, 0 0 50px #ff2483;
}

.show{
display: block;
}
.hide{
    display: none;
}